<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="d634f294-d2fe-4788-b9d2-061e3fe60d7c" Publisher="CN=obesler" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="d634f294-d2fe-4788-b9d2-061e3fe60d7c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DeviceEmulator.UWP</DisplayName>
    <PublisherDisplayName>obesler</PublisherDisplayName>
    <Logo>Assets\iot-hubLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DeviceEmulator.UWP.App">
      <uap:VisualElements DisplayName="Device Emulator (UWP)" Square150x150Logo="Assets\iot-hub150x150Logo.png" Square44x44Logo="Assets\iot-Hub44x44Logo.png" Description="Azure IoT Hub Device Emulator (UWP)" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\iot-hub310x150Logo.png" ShortName="IoT Hub Device Emulator">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\EmulatorSplashScreen.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>